.copyright
    - var hexoURL = "https://hexo.io/";
    - var apolloURL = "https://github.com/pinggod/hexo-theme-apollo";
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - var beianURL = "https://beian.miit.gov.cn/";
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p © #{year} #[a(href=config.url)!= config.author], powered by #[a(href=hexoURL, target="_blank") Hexo] and #[a(href=apolloURL, target="_blank") hexo-theme-apollo].
    p © #[a(href=beianURL, target="_blank") 网站备案号:沪ICP备18012593号-1]